.keypad {
  padding: 0;
  margin: 0;
  width: 33%;
}

.btn:focus, .btn.focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-dark:focus, .btn-dark.focus, .btn-dark:hover, .btn-dark.hover {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
  box-shadow: none !important;
}

.clear {
  width: 66%;
}