#game-info {
    position: absolute;
    right: 1%;
    top: 1%;
}

.random-number {
    font-size: 72px;
}

#keypads {
  left: 0;
  right: 0;
}

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}